@{
    ViewData["Title"] = "People";
}
@model IEnumerable<AppPeople.Models.Person>
    </br></br>
    <a href="../People/Create" class="btn btn-primary">Nova Pessoa</a>
    </br></br>

    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model) {

            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.address</td>
                <td><a class="btn btn-danger" href="People/Delete/@item.id">Excluir</a></td>
                <td><a class="btn btn-primary" href="People/Edit/@item.id">Editar</a></td>
            </tr>
            }
        </table>
    </div>