@model Aula10_Avaliacao_G1.Models.Plano

@{
    ViewData["Title"] = "Planos";
}

<div class="form-horizontal">
    <form action="Edit" method="Post">

        <div class="form-group">
            <input  class="form-control"
                    type="hidden" 
                    name="id"
                    value="@Model.id" />
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input  class="form-control"
                    type="text"
                    name="nome"
                    value="@Model.nome" />
        </div>

        <input  class="btn btn-primary" 
                type="submit" value="Salvar"/>

    </form>
</div>