@model AppChamados.Models.Situacao

<div class="container">

    <h3>Cadastrar Situação</h3>

    <br>

    <form action="Create" method="Post">

        <div class="col-md-5">

        <div class="row">
            <div class="form-group col-md-12">
                <label for="descricao">Situação</label>
                <input class="form-control" type="text" name="descricao">
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Cadastrar Situação"/>
        
        <a href="../Chamado" class="btn btn-primary">Voltar</a>

        </div>

    </form>

</div>