@model IEnumerable<AppChamados.Models.Situacao>

    <div class="container">

        <h3>Situações</h3>

        <br>

        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Situação</th>
                        <th colspan="3">Descrição</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach(var situacao in Model)
                    {
                    <tr>
                        <td class="col-md-1">#@situacao.id</td>
                        <td class="col-md-3">@situacao.descricao</td>
                        <td class="col-md-1"><a class="btn btn-primary" href="Situacao/Update/@situacao.id">Editar</a></td>
                        <td class="col-md-1"><a class="btn btn-danger" href="Situacao/Delete/@situacao.id">Deletar</a></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <a href="../Chamado" class="btn btn-primary">Voltar</a>

    </div>